.home-bottom-content1 {
  width: 320px;
  margin-bottom: 20px;
  text-align: right;
}
.home-bottom-p1 {
  font-weight: 600;
  font-size: 16px;
}
.home-bottom-button1 {
  background-color: #fd9700;
  color: white;
  border-radius: 8px;
  padding: 6px 16px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 3px  rgb(235, 234, 234);
  width: auto;
  text-align: center;
}
.home-bottom-content21 {
  width: 300px;
  margin-bottom: 20px;
  text-align: center;
}
.home-bottom-button21 {
  background-color: #1b9c01;
  color: white;
  border-radius: 8px;
  padding: 6px 16px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 3px  rgb(235, 234, 234);
  width: auto;
  text-align: center;
}
