.ws-container{
    margin: 0% 15%;
    background-color: white;
    box-shadow: 0px 0px 30px rgb(167, 164, 164);
padding: 40px;
border-radius: 20px;

}
.why-sw-c2{
    /* background-color: antiquewhite; */
    display: flex;
}
.why-why-r{
    color: #fd9700;
    margin-top: 70px;
    margin-left: 50px;
    font-size: 90px;
}
.why-sw-r{
    color: #fd9700;
    margin-top: 0px;
    margin-left: 50px;
    font-size: 90px;
   
}
.why-sw-r span{
    color: #fd9700;
    margin-top: 0px;
    font-size: 90px;
}

.whysw-r{
width: 300px;
font-size: 110px;
font-weight: 700;
line-height: 1.1em;
margin:40px 0px 50px 100px;
}
.why-img{
   position: absolute;
   left: 43%;
   margin-top: 70px;
   width: 190px;
   border-radius: 20px;
}
.why-sw{
    /* background-image: linear-gradient( to  left ,   white, orange); */
}
@media screen and (max-width: 1180px) {
    .ws-container{
        margin: 0% 15%;
    
    }
  }
  @media screen and (max-width: 980px) {
    .ws-container{
        margin: 0% 10%;
    
    }
    .whysw-r{
        width: 200px;
        font-size: 60px;
        line-height: 1.1em;
        margin:40px 0px 50px 20px;
        }
        .why-img{
           position: absolute;
           left: 70%;
           margin-top: 130px;
           width: 150px;
        }
  }
@media screen and (max-width: 680px) {
    .ws-container{
        margin: 0% 5%;
    
    }
    .why-why-r{
      color: #fd9700;
      margin-top: 20px;
      margin-left: 10px;
      font-size: 50px;
  }
  .why-img{
    position: absolute;
    left: 66%;
    margin-top: 40px;
    width: 100px;
 }
  .why-sw-r{
      color: #fd9700;
      margin-top: 0px;
      margin-left: 10px;
      font-size: 50px;
     
  }
  .why-sw-r span{
      color: #fd9700;
      margin-top: 0px;
      font-size: 50px;
  }
  .ws-container{
    margin: 0% 5%;
    background-color: white;
    box-shadow: 0px 0px 30px rgb(167, 164, 164);
padding: 15px;
border-radius: 20px;

}
  }
.ws-h1{
    color: #fd9700;
}
.ws-p1{
line-height: 1.1em;
}
.ws-c2{
    margin: 50px 0px 20px 0px;
}
.ws-h3{
    padding-bottom: 8px;
    font-size: 20px;
    margin-bottom: 20px;;
}
.ws-why{
    margin-top: -10px;
}
.ws-h3 span {
    color: #fd9700;

}
.ws-c2 ul li{
    
    line-height: 1.1em;
    margin-bottom: 5px;
}
.ws-c2 ul{
    list-style-type: none;;
    margin-bottom: 25px;
}
.ws-c2-p1{
    font-size: 17px;
    margin-bottom: 4px;
    font-weight: 500;
}
.ws-c2 ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #fd9700; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
