.aboutut-r{
background-repeat: no-repeat;
background-size: contain;
    /* background-image: url("../other-pages-1366.jpg"); */
    background-image: url("../../components/bgbg.png");
}
.aboutus-section{
    margin-top:60px;
    margin-bottom:50px;
}
.about-r{
    color: #fd9700;
    margin-left: 20px;
    font-size: 90px;
    padding-bottom: 0px;
    margin-bottom: -10px;
}
.us-r{
    font-size: 90px;
    color: #fd9700;
    margin: -30px 0px 0px 250px;
    padding-top: 0px;
}
.about-con{
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2) ;
    border-radius: 8px;
    padding: 60px 0;
    background-color: rgba(255, 255, 255, 0.8); 

}
.left-content{
    margin: 30px 0;
}

.img{
    width: 300px;
    margin-top:40px; 
}
.img img{
    width: 100%;
    height: auto;
}

.right-content h6{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}
.right-content p{
    padding: 0 30px 0 0;
    font-weight: 600;
    
}
.right-content a{
    text-decoration: underline;
}

@media screen and (min-width: 1000px) {
    .ab-2{
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .right-content{
        background-color: rgba(122, 122, 122, 0.2);
        height: 350px;
        overflow-y: scroll;
        border-radius: 10px;
        padding: 20px;
    }
    #style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 7px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #fd9700;;
}

    .right-content p{
        padding:0px ;
        font-weight: 400;
        font-size: 15px;
        
    }
    .ab-2{
       width: 150px !important;
       height: 150px;
    }
    .ab-1{
        display:none ;
    }
}
@media screen and (max-width: 800px) {
    .aboutut-r{
        background-image: none;
    }
    .aboutus-section{
        margin-top:10px;
        margin-bottom:50px;
    }
    .about-con{
        padding: 10px 0;    
    }
    .right-content {
      margin-top: 0px;
      padding-top: 10px;
    }
    .left-content{
        margin: 0px 0;
    }
    .about-r{
        color: #fd9700;
        margin-left: 50px;
        font-size: 70px;
        padding-bottom: 0px;
        margin-bottom: -10px;
    }
    .us-r{
        font-size: 70px;
        color: #fd9700;
        margin: -30px 0px 0px 160px;
        padding-top: 0px;
    }
    
}

