.home-bottom-content {
  width: 320px;
  margin-bottom: 20px;
  text-align: right;
}
.home-bottom-p {
  font-weight: 600;
  font-size: 20px;
  color: white;
}
.home-bottom-button {
  background-color: #fd9700;
  color: white;
  border-radius: 8px;
  padding: 6px 16px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 3px  rgb(235, 234, 234);
  width: auto;
  text-align: center;
}
.home-bottom-button:focus {
outline: none;
}
.home-bottom-content2 {
  width: 300px;
  margin-bottom: 20px;
  position: absolute;
  left:40px;
  bottom: 110px;
}
.home-bottom-button2 {
  background-color: #1b9c01;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid transparent;
  width: auto;
  text-align: center;
}
.home-bottom-button2:hover {
  background-color: #0e5500;
  color: #fd9700;
transition: 0.5s;
border-color: #fd9700;
}
@media screen and (max-width: 1111px) {
  .home-bottom-p {
    font-weight: 600;
    font-size: 20px;
    color: black;
  } 
}

