.home-left {
  width: 500px !important;
  height: auto;
  padding: 0px;

}
.displayClass{
  position: absolute !important;
}
.home-left p{
  margin-left: 80px;
  font-size: 20px;

}
.video-div {
  width: 620px;
  height: 470px;
  margin-left: 220px;
  box-shadow: 0px 0px 15px grey;
  border-radius: 20px;
margin-top: -50px;
margin-left: 130px;
  /* background-color: aqua; */
}
.sw-video{
  width: 620px;
  height: 470px;;
  border-radius: 20px;
}
.sw-video1:focus{
  outline: transparent;
}
.sw-video:focus{

  outline-color: transparent;
}

@media screen and (max-width: 1200px) {
  .video-div {
    width: 570px;
    height: 470px;
    margin-left: 220px;
    box-shadow: 0px 0px 15px grey;
    border-radius: 20px;
  margin-top: -50px;
  margin-left: 110px;
    /* background-color: aqua; */
  }
  .sw-video{
    width: 570px;
    height: 470px;;
    border-radius: 20px;
  }
}


@media screen and (max-width: 780px) {
  .home-left {
    width: 340px !important;
    
    /* background-color: aqua; */
  }
  
  .mx-auto{
    padding: 0px !important;
    margin: 0px !important;
  }
  
  .home-left p{
    margin-left: 0px;
    font-size: 20px;
  
  }
  .video-div {
    margin-left: 0px;
    /* background-color: aqua; */
  }
}

.animate-on{
  animation: AnimationOn 1s linear ;
  opacity:1;
}

.animate-of{
  animation: AnimationOf 1s linear ;
  opacity:0;
}
@keyframes AnimationOn { /* flame pulses */
  0%   { opacity:0; }

  100% { opacity:1; }
}

@keyframes AnimationOf { /* flame pulses */
  0%   { opacity:1; }
  70%   { opacity:.7; }
  100%  { opacity:0; }
  
}
.animate-flicker {
    opacity:1;  
    animation: flickerAnimation 1s infinite;
}