.section5 {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 60px
}
.s5-h1{
    position: relative;
    font-weight: 700;
    font-size: 65px;
    color: rgb(54, 53, 53);
    margin-top: 90px;
    z-index: 10;
}
.s5-container{
    margin-top: 130px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    z-index: 10;
}
.s5-banks{
    background-color: #fd9700;
    padding: 30px 0px 0px 20px;
    border-radius: 10px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 0px 20px rgb(143, 143, 143);
    width: 360px;
    cursor: pointer;
}
.s5-banks h1{
 color: white;
font-size: 36px;

}
.s5-banks img{
    width: 130px;
    height: 130px;
}
.s5-banks ul{
    list-style-image: url("./images//cross.png");
    color: white;
}
.s5-banks li{
   font-size: 24px;
   margin-left: -9px;
}
.s5-switcher{
    background-color: #60615b;
    padding: 30px 0px 0px 20px;
    border-radius: 10px;
    border-bottom-left-radius: 50px;
    width: 360px;
    box-shadow: 0px 0px 20px rgb(143, 143, 143);
    cursor: pointer;

    
}
.s5-switcher h1{
 color: white;
 font-size: 36px;

}
.s5-switcher img{
    width: 80px;
    height: 80px;
    margin: 30px 0px 21px 30px;
}
.s5-switcher ul{
    list-style-image: url("./images//tick.png");
    color: white;
}
.s5-switcher li{
   font-size: 24px;
   margin-left: -9px;
}
.click{
    padding: 20px;
    z-index: 20;
    margin: -20px;
}
.tick{
    list-style-image: url("./images//tick.png") !important;
}
.s5bg{
    color: rgb(243, 243, 243);
    font-size: 170px;
    font-weight: 700;
    width: 700px;
    line-height: 1em;
    left:  0;
    position: absolute;
    z-index: 1;
    margin: 120px 0px 0px 100px;
}
@media screen and (max-width: 1070px) {
    .s5-container {
flex-wrap: wrap;
padding:0px 186px;
        }
        .s5-h1{
         font-size: 50px;

        }
        .s5bg{
            font-size: 100px;

        }
        
        
  }
  @media screen and (max-width: 800px) {

    .s5bg{
        font-size: 70px;
        width: 300px;
        margin: 150px 0px 0px 100px;
    } 
    .s5-container {
        flex-wrap: wrap;
        padding:0px 60px;
                }
                .s5-h1{
                    font-size: 35px;
           
                   }
                
    } 
    @media screen and (max-width: 500px) {

 
        .s5-container {
            padding:0px 0px;
                    }
                    
        }  
  